<%- include('../../partials/head'); %>
	<body>
		<%- include('../../partials/header'); %>
		<main>
			<section class="auth-container">
				<h1>My Preferences</h1>

				<form action="/signin/preferences" method="POST">
					<section>
						<p>Gender</p>
						<% genders.forEach((gender) => { %>
							<div class="radio-group">
								<input type="radio" id="<%= gender %>" name="gender" value="<%= gender %>" required>
								<label for="<%= gender %>">
									<%= gender %>
								</label>
							</div>
						<% }) %>
					</section>

					<section>
						<label for="birthdate">Birthdate</label>
						<input type="date" id="birthdate" name="birthdate" min="18" max="130" class="inline" required>
					</section>

					<section>
						<label for="residence">Where do you live?</label>
						<input type="search" id="residence" name="residence" required>
					</section>

					<section>
						<p>Interested in</p>
						<% interests.forEach((interest) => { %>
							<div class="radio-group">
								<input type="radio" id="<%= interest %>" name="interested_in" value="<%= interest %>" required>
								<label for="<%= interest %>">
									<%= interest %>
								</label>
							</div>
						<% }) %>
					<section>
					
					<section>
						<label for="biography">Biography</label>
						<textarea id="biography" name="biography" required></textarea>
					</section>

					<section id="movie-list">
						<label for="movies">What's your favorite movie?</label>
						<input type="text" id="movies" name="movies" required></input>
					</section>

					<section>
						<label for="genres">What are your favorite genres?</label>
						<select name="genres" id="genres" multiple>
							<% for(i=0; i < genres.length; i++){ %>
								<option value="<%= genres[i]._id %>">
									<%= genres[i].name %>
								</option>
								<% } %>
						</select>
					</section>

					<input type="submit" value="Save Preferences">
				</form>
			</dsectioniv>
		</main>
		<script src="../js/script.js"></script>
		</body>
</html>
