<%- include('../../partials/head'); %>
	<body>
		<%- include('../../partials/header'); %>
		<main>
			<div class="auth-container">
				<h1>My Preferences</h1>

				<form action="/signin/preferences" method="POST">
					<div class="form-group">
						<p>Gender</p>
						<% genders.forEach((gender) => { %>
							<div class="radio-group">
								<input type="radio" id="<%= gender %>" name="gender" value="<%= gender %>" required>
								<label for="<%= gender %>">
									<%= gender %>
								</label>
							</div>
						<% }) %>
					</div>

					<div class="form-group">
						<label for="birthdate">Birthdate</label>
						<input type="date" id="birthdate" name="birthdate" min="18" max="130" class="inline" required>
					</div>

					<div class="form-group">
						<label for="residence">Where do you live?</label>
						<input type="search" id="residence" name="residence" required>
					</div>

					<div class="form-group">
						<p>Interested in</p>
						<% interests.forEach((interest) => { %>
							<div class="radio-group">
								<input type="radio" id="<%= interest %>" name="interested_in" value="<%= interest %>" required>
								<label for="<%= interest %>">
									<%= interest %>
								</label>
							</div>
						<% }) %>
					</div>
					<div class="form-group">
						<label for="biography">Biography</label>
						<textarea id="biography" name="biography" required></textarea>
					</div>

					<input type="submit" value="Save Preferences">
				</form>
			</div>
		</main>
		<script src="../js/script.js"></script>
		</body>
</html>
