<header>
    <% if (typeof headerLeft == 'object' && headerLeft){ %>
        <a class="headerLeft" href="<%= headerLeft.path %>"><%= headerLeft.text %></a>
    <% } %>
    <h1><%=title%></h1>
    <% if (typeof headerRight == 'object' && headerRight){ %>
        <a class="headerRight" href="<%= headerRight.path %>"><%= headerRight.text %></a>
    <% } %>
    <% if (typeof optionsRight=='object' && optionsRight){ %>
            <button>Advanced</button>
            <%for(i=0; i < optionsRight.length; i++){ %>
                <li><a href="<%= optionsRight[i].path %>"><%= optionsRight[i].text %></a></li>
            <% } %>
        <% } %>
</header>