<%- include('../../partials/head'); %>

    <body>
        <%- include('../../partials/header'); %>
            <main>
                <section class="auth-container">
                    <h1>Edit</h1>

                    <form action="/account/edit" method="POST" enctype="multipart/form-data">
                        <section>
                            <label for="profile_image">
                                <% if (user.profile_image) { %>
                                    <img src="/uploads/<%= user.profile_image %>" alt="Profile image" width="100">
                                <% } else { %>
                                    <img src="/images/default_profile_image.jpg" alt="Profile image" width="100">
                                <% } %>
                            </label>
                            <input type="file" name="profile_image" id="profile_image" accept="image/*" value="<%= user.profile_image %>">
                        </section>

                        <section>
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" value="<%= user.name %>" required/>
                        </section>

                        <section>
                            <label for="email">Email Address</label>
                            <input type="email" name="email" id="email" value="<%= user.email %>" required/>
                        </section>

                        <section>
                            <p>Gender</p>
                            <%for(i=0; i < genders.length; i++){ %>
                                <div class="radio-group">
                                    <input type="radio" id="<%= genders[i] %>" name="gender" value="<%= genders[i] %>" <% if (user.gender == genders[i]){ %> checked <% } %> required>
                                    <label for="<%= genders[i] %>">
                                        <%= genders[i] %>
                                    </label>
                                </div>
                                <% } %>
                        </section>
                        <section>
                            <label for="birthdate">Birthdate</label>
                            <input type="date" id="birthdate" name="birthdate" min="18" max="130" class="inline" value="<%= user.birthdate.toISOString().substr(0, 10); %>" required>
                        </section>
                        <section>
                            <label for="residence">Where do you live?</label>
                            <input type="search" id="residence" name="residence" value="<%= user.residence %>" required>
                        </section>
                        <section>
                            <p>Interested in</p>
                            <% for(i=0; i < interests.length; i++){ %>
                                <div class="radio-group">
                                    <input type="radio" id="<%= interests[i] %>" name="interested_in" value="<%= interests[i] %>" <% if (user.interested_in == interests[i]){ %> checked <% } %> required>
                                    <label for="<%= interests[i] %>">
                                        <%= interests[i] %>
                                    </label>
                                </div>
                                <% } %>
                        </section>
                        <section>
                            <label for="biography">Biography</label>
                            <textarea id="biography" name="biography" required><%= user.biography %></textarea>
                        </section>
                        <section>
                            <label for="genres">What are your favorite genres?</label>
                            <select name="genres" id="genres" multiple>
                                <% for(i=0; i < genres.length; i++){ %>
                                    <option value="<%= genres[i]._id %>" <% if (user.genres.includes(genres[i]._id)) { %> selected <% } %>>
                                            <%= genres[i].name %>
                                    </option>
                                <% } %>
                            </select>
                        </section>
                        <input type="submit" value="Save changes">
                    </form>
                    <a class="button" href="/account/profile">Cancel</a>
                </section>
            </main>
            <script src="../js/script.js"></script>
    </body>

    </html>