<% function getAge(dateString) { if (typeof dateString !='undefined' ) { var today=new Date(); var birthDate=new Date(dateString); var age=today.getFullYear() - birthDate.getFullYear(); var m=today.getMonth() - birthDate.getMonth(); if (m < 0 || (m===0 && today.getDate() < birthDate.getDate())) { age--; } return '(' + age + ')' ; } } %>
	<%- include('../partials/head'); %>

		<body>
			<%- include('../partials/header'); %>
				<main>
					<% for(i=0; i < users.length; i++){ %>
						<section class="account-item">
							<a href="/user/profile/<%= users[i]._id; %>">
								<div>
									<% if (users[i].profile_image) { %>
										<img src="/uploads/<%= users[i].profile_image %>" alt="Profile image" width="100">
									<% } else { %>
										<img src="/images/default_profile_image.jpg" alt="Profile image" width="100">
									<% } %>
								</div>
								<div>
									<p>
										<%= users[i].name; %>
										<%= getAge(users[i].birthdate); %>
									</p>
									<p>
										<%= users[i].residence; %>
									</p>
								</div>
							</a>
						</section>
						<% } %>
				</main>
		</body>

		</html>